# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache

# Distribution / packaging
build/
dist/
*.egg-info/
.idea
venv

# Others
.vscode
.coverage
htmlcov/
data-dev.db

.env
#Dockerfile
# google_analytics.py
.deta
.vercel