[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
pyjsparser = "*"
pytz = "*"
arrow = "==1.2.2"
asttokens = "==2.0.5"
beautifulsoup4 = "==4.11.1"
blinker = "==1.4"
bootstrap-flask = "==1.8.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.9"
click = "==8.0.3"
colorama = "==0.4.4"
cssselect = "==1.1.0"
executing = "==0.8.2"
feedparser = "==6.0.8"
flask = "==2.0.2"
flask-analytics = "==0.6.0"
flask-caching = "==2.0.2"
flask-debugtoolbar = "==0.11.0"
flask-moment = "==1.0.2"
flask-script = "==2.0.6"
gunicorn = "==20.1.0"
icecream = "==2.1.1"
idna = "==3.3"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.3"
lxml = "==4.6.3"
markupsafe = "==2.0.1"
parsel = "==1.6.0"
pyppeteer = "==1.0.2"
pygments = "==2.11.1"
python-dotenv = "==0.19.2"
requests = "==2.26.0"
six = "==1.16.0"
undetected-chromedriver = "==3.1.7"
urllib3 = "==1.26.18"
w3lib = "==1.22.0"
werkzeug = "==2.1.2"
zipp = "==3.6.0"

[dev-packages]
coverage = "*"
pdir2 = "*"
ptpython = "*"
yapf = "*"
pylint = "*"

[scripts]
test = "python -m unittest discover"
coverage = "coverage run -m unittest discover"
