[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
bootstrap-flask = "*"
feedparser = "6.0.8"
flask-debugtoolbar = "*"
flask-moment = "*"
Flask = "*"
python-dotenv = "*"
markupsafe = "2.0.1"
gunicorn = "*"
requests = "*"
parsel = "*"
flask-script = "*"
icecream = "*"
flask-analytics = "*"
arrow = "1.2.2"
undetected-chromedriver = "*"
pyjsparser = "*"
charset-normalizer = "*"
pyppeteer = "*"
flask-caching = "*"

[dev-packages]
coverage = "*"
pdir2 = "*"
ptpython = "*"
yapf = "*"
pylint = "*"

[scripts]
test = "python -m unittest discover"
coverage = "coverage run -m unittest discover"
