arrow==1.2.2
asttokens==2.0.5
beautifulsoup4==4.11.1
blinker==1.4
Bootstrap-Flask==1.8.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cssselect==1.1.0
executing==0.8.2
feedparser==6.0.8
Flask==2.0.2
Flask-Analytics==0.6.0
Flask-Caching==2.0.2
Flask-DebugToolbar==0.11.0
Flask-Moment==1.0.2
Flask-Script==2.0.6
gunicorn==20.1.0
icecream==2.1.1
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.9.1
MarkupSafe==2.0.1
parsel==1.6.0
Pygments==2.11.1
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
undetected-chromedriver==3.1.7 
urllib3==1.26.7
w3lib==1.22.0
Werkzeug==2.1.2
zipp==3.6.0 
