arrow==1.2.2
beautifulsoup4==4.11.1
Bootstrap_Flask==1.8.0
click==8.0.3
cssselect==1.2.0
feedparser==6.0.8
Flask==2.0.2
Werkzeug==2.0.3
Flask_Analytics==0.6.0
Flask_Caching==2.0.2
Flask_DebugToolbar==0.11.0
Flask_Moment==1.0.2
icecream==2.1.1
Jinja2==3.0.3
lxml==4.9.3
parsel==1.8.1
ptpython==3.0.31
pyjsparser==2.7.1
pyppeteer==2.0.0
python-dotenv==1.2.1
pytz==2025.2
Requests==2.32.5
selenium==4.38.0
setuptools==80.9.0
undetected_chromedriver==3.5.5
