{% extends "layout.html" %}

{% block title %}All Feeds{% endblock title %}

{% block content %}
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">传送门</h4>
    <h6 class="text-muted">文章 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/chuansongme/articles" target="_blank">https://pyrsshub.herokuapp.com/chuansongme/articles</a></p>
    <p class="card-text">路由：<code>/chuansongme/articles/:category</code></p>
    <p class="card-text">参数：category [默认为“最新”]</p>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                {% for th in ['精选','区块链','汽车','创意科技','媒体达人','电影音乐','娱乐休闲','生活旅行','学习工具','历史读书','金融理财','美食菜谱'] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for td in ['select', 'blockchain', 'auto', 'ideatech', 'newsmedia', 'moviemusic', 'fun', 'lifejourney', 'utility', 'hisbook', 'finance', 'food']%}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
  </div>
</div>
<br>
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">CTOLib</h4>
    <h6 class="text-muted">话题 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/ctolib/topics" target="_blank">https://pyrsshub.herokuapp.com/ctolib/topics</a></p>
    <p class="card-text">路由：<code>/ctolib/topics/:category</code></p>
    <p class="card-text">参数：category [默认为“默认排序”]</p>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                {% for th in ['最新发布', '优质主题'] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for td in ['last', 'popular']%}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
  </div>
</div>
<br>
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">InfoQ</h4>
    <h6 class="text-muted">推荐内容 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/infoq/recommend" target="_blank">https://pyrsshub.herokuapp.com/infoq/recommend</a></p>
    <p class="card-text">路由：<code>/infoq/recommend</code></p>

    <h6 class="text-muted">主题内容 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/infoq/topic/159" target="_blank">https://pyrsshub.herokuapp.com/infoq/topic/159</a></p>
    <p class="card-text">路由：<code>/infoq/topic/:category</code></p>
  </div>
</div>
<br>
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">巨潮资讯</h4>
    <h6 class="text-muted">公司公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/cninfo/announcement/all/gqjl" target="_blank">https://pyrsshub.herokuapp.com/cninfo/announcement/all/gqjl</a></p>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/cninfo/announcement/all/gqbd_预披露" target="_blank">https://pyrsshub.herokuapp.com/cninfo/announcement/all/gqbd_预披露</a>，股权变动类公告中标题含有「预披露」的公告</p>
    <p class="card-text">路由：<code>/cninfo/announcement/:stock_id/:category</code></p>
  </div>
</div>
<br>
<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">东兴资管</h4>
    <h6 class="text-muted">产品公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/dxzg/notice" target="_blank">https://pyrsshub.herokuapp.com/dxzg/notice</a></p>
    <p class="card-text">路由：<code>/dxzg/notice</code></p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">Earnings Date</h4>
    <h6 class="text-muted">Earnings Date <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/earningsdate/businesswire" target="_blank">https://pyrsshub.herokuapp.com/earningsdate/businesswire</a></p>
    <p class="card-text">路由：<code>/earningsdate/:category</code></p>
    <p class="card-text">参数：category [必填，可以为“businesswire、globenewswire、prnewswire”]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">界面快讯</h4>
    <h6 class="text-muted">界面快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/jiemian/newsflash/166" target="_blank">https://pyrsshub.herokuapp.com/jiemian/newsflash/166</a></p>
    <p class="card-text">路由：<code>/jiemian/newsflash/:category</code></p>
    <p class="card-text">参数：category [必填，见界面快讯栏目https://www.jiemian.com/lists/4.html]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">证监会审核进度</h4>
    <h6 class="text-muted">证监会审核进度 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/csrc/audit/a1d50077cd7f4b15bd1c8d6163f32850" target="_blank">https://pyrsshub.herokuapp.com/csrc/audit/a1d50077cd7f4b15bd1c8d6163f32850</a></p>
    <p class="card-text">路由：<code>/csrc/audit/:category</code></p>
    <p class="card-text">参数：category [必填，见证监会栏目 https://neris.csrc.gov.cn/alappl/home/gongshi]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">财新网滚动新闻</h4>
    <h6 class="text-muted">财新网滚动新闻 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/caixin/scroll/125" target="_blank">https://pyrsshub.herokuapp.com/caixin/scroll/125</a></p>
    <p class="card-text">路由：<code>/caixin/scroll/:category</code></p>
    <p class="card-text">参数：category [必填，见财新网滚动频道 http://www.caixin.com/search/scroll/0.jsp]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">东方财富网行业/个股研报</h4>
    <h6 class="text-muted">东方财富网行业/个股研报 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/eastmoney/report/stock/473" target="_blank">https://pyrsshub.herokuapp.com/eastmoney/report/stock/473</a></p>
    <p class="card-text">路由：<code>/eastmoney/report/:type/:category</code></p>
    <p class="card-text">参数：type, category [必填，见财新网滚动频道 http://www.caixin.com/search/scroll/0.jsp]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">选股宝板块/主题动态</h4>
    <h6 class="text-muted">选股宝板块/主题动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/xuangubao/theme/17006066" target="_blank">https://pyrsshub.herokuapp.com/xuangubao/theme/17006066</a></p>
    <p class="card-text">路由：<code>/xuangubao/:type/:category</code></p>
    <p class="card-text">参数：type = theme|subject， category [必填，板块/主题ID]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">财联社主题动态</h4>
    <h6 class="text-muted">财联社主题动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/cls/subject/1345" target="_blank">https://pyrsshub.herokuapp.com/cls/subject/1345</a></p>
    <p class="card-text">路由：<code>/cls/subject/:category</code></p>
    <p class="card-text">参数：category [必填，见财联社APP主题栏目]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">财联社电报</h4>
    <h6 class="text-muted">财联社电报 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/cls/telegraph" target="_blank">https://pyrsshub.herokuapp.com/cls/telegraph</a></p>
    <p class="card-text">路由：<code>/cls/telegraph</code></p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">链得得栏目动态</h4>
    <h6 class="text-muted">链得得栏目动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/chaindd/column/3158465" target="_blank">https://pyrsshub.herokuapp.com/chaindd/column/3158465</a></p>
    <p class="card-text">路由：<code>/chaindd/column/:category</code></p>
    <p class="card-text">参数：category [必填，见链得得栏目url中的数字编号]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">Techcrunch tag文章列表</h4>
    <h6 class="text-muted">Techcrunch tag文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/techcrunch/tag/216504" target="_blank">https://pyrsshub.herokuapp.com/techcrunch/tag/216504</a></p>
    <p class="card-text">路由：<code>/techcrunch/tag/:category</code></p>
    <p class="card-text">参数：category [必填，见 techcrunch 官网]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">未央网-首页</h4>
    <h6 class="text-muted">未央网-首页 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/weiyangx/home/" target="_blank">https://pyrsshub.herokuapp.com/weiyangx/home/</a></p>
    <p class="card-text">路由：<code>/weiyangx/home/</code></p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">未央网-国际快讯</h4>
    <h6 class="text-muted">未央网-国际快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/weiyangx/express/" target="_blank">https://pyrsshub.herokuapp.com/weiyangx/express/</a></p>
    <p class="card-text">路由：<code>/weiyangx/express/</code></p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">未央网 tag文章列表</h4>
    <h6 class="text-muted">未央网 tag文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/weiyangx/tag/金融科技" target="_blank">https://pyrsshub.herokuapp.com/weiyangx/tag/金融科技</a></p>
    <p class="card-text">路由：<code>/weiyangx/tag/:category</code></p>
    <p class="card-text">参数：category [必填，见 weiyangx 官网]</p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">今天看啥专栏文章列表</h4>
    <h6 class="text-muted">今天看啥专栏文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/jintiankansha/column/KgkNwnDrsy" target="_blank">https://pyrsshub.herokuapp.com/jintiankansha/column/KgkNwnDrsy</a></p>
    <p class="card-text">路由：<code>/jintiankansha/column/:category</code></p>
    <p class="card-text">参数：category [必填，见 jintiankansha.me] </p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">产品公告 - 机构间市场</h4>
    <h6 class="text-muted">产品公告 - 机构间市场 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/interotc/cpgg/东兴证券" target="_blank">https://pyrsshub.herokuapp.com/interotc/cpgg/东兴证券</a></p>
    <p class="card-text">路由：<code>/interotc/cpgg/:category</code></p>
    <p class="card-text">参数：category [必填，标题中的关键词] </p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">股票评级 - Benzinga</h4>
    <h6 class="text-muted">股票评级 - Benzinga <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/benzinga/ratings/wb" target="_blank">https://pyrsshub.herokuapp.com/benzinga/ratings/wb</a></p>
    <p class="card-text">路由：<code>/benzinga/ratings/:category</code></p>
    <p class="card-text">参数：category [必填， 股票代码] </p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">抽屉新热榜 - 话题</h4>
    <h6 class="text-muted">抽屉新热榜 - 话题 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/chouti/section/1116" target="_blank">https://pyrsshub.herokuapp.com/chouti/section/1116</a></p>
    <p class="card-text">路由：<code>/chouti/section/:category</code></p>
    <p class="card-text">参数：category [必填， 话题id] </p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">抽屉新热榜 - 搜索</h4>
    <h6 class="text-muted">抽屉新热榜 - 搜索 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/chouti/search/China" target="_blank">https://pyrsshub.herokuapp.com/chouti/search/China</a></p>
    <p class="card-text">路由：<code>/chouti/search/:category</code></p>
    <p class="card-text">参数：category [必填， 搜索关键词] </p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">微信公众号 - 标签文章列表</h4>
    <h6 class="text-muted">微信公众号 - 标签文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/mp/tag/MzI5MjM3OTA0MA/1500461858015772673" target="_blank">https://pyrsshub.herokuapp.com/mp/tag/MzI5MjM3OTA0MA/1500461858015772673</a></p>
    <p class="card-text">路由：<code>/mp/tag/:biz/:tag</code></p>
    <p class="card-text">biz [必填， 公众号id]，tag，[必填， 标签 id] </p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">微信公众号 - 最新文章</h4>
    <h6 class="text-muted">微信公众号 - 最新文章 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://pyrsshub.herokuapp.com/mp/gh/mao-talk" target="_blank">https://pyrsshub.herokuapp.com/mp/gh/mao-talk</a></p>
    <p class="card-text">路由：<code>/mp/tag/:biz/:tag</code></p>
    <p class="card-text">gh [必填， 公众号id] </p>
  </div>
</div>
<br>
<!--item info end-->

{% endblock content %}
