{% extends "layout.html" %}

{% block title %}All Feeds{% endblock title %}

{% block content %}
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">传送门</h4>
    <h6 class="text-muted">文章 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
    <p class="card-text">举例：<a href="https://rsshub-python.herokuapp.com/chuansongme/articles" target="_blank">https://rsshub-python.herokuapp.com/chuansongme/articles</a></p>
    <p class="card-text">路由：<code>/chuansongme/articles/:category</code></p>
    <p class="card-text">参数：category [默认为“最新”]</p>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                {% for th in ['精选','区块链','汽车','创意科技','媒体达人','电影音乐','娱乐休闲','生活旅行','学习工具','历史读书','金融理财','美食菜谱'] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for td in ['select', 'blockchain', 'auto', 'ideatech', 'newsmedia', 'moviemusic', 'fun', 'lifejourney', 'utility', 'hisbook', 'finance', 'food']%}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
  </div>
</div>
<br>
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">CTOLib</h4>
    <h6 class="text-muted">话题 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
    <p class="card-text">举例：<a href="https://rsshub-python.herokuapp.com/ctolib/topics" target="_blank">https://rsshub-python.herokuapp.com/ctolib/topics</a></p>
    <p class="card-text">路由：<code>/ctolib/topics/:category</code></p>
    <p class="card-text">参数：category [默认为“默认排序”]</p>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                {% for th in ['最新发布', '优质主题'] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for td in ['last', 'popular']%}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
  </div>
</div>
<br>
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">InfoQ</h4>
    <h6 class="text-muted">推荐内容 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
    <p class="card-text">举例：<a href="https://rsshub-python.herokuapp.com/infoq/recommend" target="_blank">https://rsshub-python.herokuapp.com/infoq/recommend</a></p>
    <p class="card-text">路由：<code>/infoq/recommend</code></p>
  </div>
</div>
<br>
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">巨潮资讯</h4>
    <h6 class="text-muted">公司公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://rsshub-python.herokuapp.com/cninfo/announcement/all/gqjl" target="_blank">https://rsshub-python.herokuapp.com/cninfo/announcement/all/gqjl</a></p>
    <p class="card-text">举例：<a href="https://rsshub-python.herokuapp.com/cninfo/announcement/all/gqbd_预披露" target="_blank">https://rsshub-python.herokuapp.com/cninfo/announcement/all/gqbd_预披露</a>，股权变动类公告中标题含有「预披露」的公告</p>
    <p class="card-text">路由：<code>/cninfo/announcement/:stock_id/:category</code></p>
  </div>
</div>
<br>
<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">东兴资管</h4>
    <h6 class="text-muted">产品公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://rsshub-python.herokuapp.com/dxzg/notice" target="_blank">https://rsshub-python.herokuapp.com/dxzg/notice</a></p>
    <p class="card-text">路由：<code>/dxzg/notice</code></p>
  </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">Earnings Date</h4>
    <h6 class="text-muted">Earnings Date <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
    <p class="card-text">举例：<a href="https://rsshub-python.herokuapp.com/earningsdate/businesswire" target="_blank">https://rsshub-python.herokuapp.com/earningsdate/businesswire</a></p>
    <p class="card-text">路由：<code>/earningsdate/:category</code></p>
    <p class="card-text">参数：category [必填，可以为“businesswire、globenewswire、prnewswire”]</p>
  </div>
</div>
<br>
<!--item info end-->
{% endblock content %}