{% extends "layout.html" %} {% block title %}All Feeds{% endblock title %} {% block content %}

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Filter参数</h4>
        <h6 class="text-muted">RSS 过滤参数<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/filter?feed=https://sspai.com/feed&include_title=派早报" target="_blank">https://pyrsshub.vercel.app/filter?feed=https://sspai.com/feed&include_title=征文|派早报</a></p>
        <p class="card-text">参数：<code>include_title</code> 匹配标题，支持多关键词，用 | 分隔。</p>
        <p class="card-text">参数：<code>include_description</code> 匹配摘要</p>
        <p class="card-text">参数：<code>exclude_title</code> 排除标题</p>
        <p class="card-text">参数：<code>exclude_description</code> 排除摘要</p>
        <p class="card-text">参数：<code>limit</code> 限制条数</p>

    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS 代理</h4>
        <h6 class="text-muted">RSS 代理 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/filter?feed=https://sspai.com/feed" target="_blank">https://pyrsshub.vercel.app/filter?feed=https://sspai.com/feed</a></p>
        <p class="card-text">路由：<code>/filter?feed=:feed</code></p>
        <p class="card-text">参数：feed [rss 地址]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">The world in brief - The Economist</h4>
        <h6 class="text-muted">World Brief <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/economist/worldbrief" target="_blank">https://pyrsshub.vercel.app/economist/worldbrief</a></p>
        <p class="card-text">路由：<code>/economist/worldbrief</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">NHK</h4>
        <h6 class="text-muted">NHK - Web News Easy <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/nhk/newseasy" target="_blank">https://pyrsshub.vercel.app/nhk/newseasy</a></p>
        <p class="card-text">路由：<code>/nhk/newseasy</code></p>

        <h6 class="text-muted">NHK - topic news <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/nhk/topic/0001595" target="_blank">https://pyrsshub.vercel.app/nhk/topic/0001595</a></p>
        <p class="card-text">路由：<code>/nhk/topic/:category</code></p>
        <p class="card-text">参数：category, topic id</p>

    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">搜索提示 - 百度</h4>
        <h6 class="text-muted">搜索提示 - 百度<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/baidu/suggest/weishenme" target="_blank">https://pyrsshub.vercel.app/baidu/suggest/weishenme</a></p>
        <p class="card-text">路由：<code>/baidu/suggest/:category</code></p>
        <p class="card-text">参数：category，关键词</p>
    </div>
</div>
<br>
<!--item info end-->


<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">湖南竞价</h4>
        <h6 class="text-muted">湖南竞价<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/hnzcy/bidding/Newest" target="_blank">https://pyrsshub.vercel.app/hnzcy/bidding/Newest</a></p>
        <p class="card-text">路由：<code>/hnzcy/bidding/:type</code></p>
        <p class="card-text">参数：type，类型，必填， Newest | Result，注意首字母大写</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Realtime - 彭博商业周刊</h4>
        <h6 class="text-muted">Realtime <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/bbwc/realtime/2" target="_blank">https://pyrsshub.vercel.app/bbwc/realtime/2</a></p>
        <p class="card-text">路由：<code>/bbwc/realtime/:category</code></p>
        <p class="card-text">参数：category，分类，1 - 中文、2 - 英文</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Top App - App Store</h4>
        <h6 class="text-muted">Top App <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/appstore/top/us/36" target="_blank">https://pyrsshub.vercel.app/appstore/top/us/36</a></p>
        <p class="card-text">路由：<code>/appstore/top/:countrycode/:genreid</code></p>
        <p class="card-text">参数：countrycode，国家/地区代码， 如 us、cn、ru、br；genreid，类别，如 36， 6000，6014，6026，更多详见 https://t.ly/vYJI</p>
    </div>
</div>
<br>
<!--item info end-->

<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">传送门-失效</h4>
        <h6 class="text-muted">文章 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/chuansongme/articles" target="_blank">https://pyrsshub.vercel.app/chuansongme/articles</a></p>
        <p class="card-text">路由：<code>/chuansongme/articles/:category</code></p>
        <p class="card-text">参数：category [默认为“最新”]</p>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    {% for th in ['精选','区块链','汽车','创意科技','媒体达人','电影音乐','娱乐休闲','生活旅行','学习工具','历史读书','金融理财','美食菜谱'] %}
                    <th>{{th}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for td in ['select', 'blockchain', 'auto', 'ideatech', 'newsmedia', 'moviemusic', 'fun', 'lifejourney', 'utility', 'hisbook', 'finance', 'food']%}
                    <td>{{td}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">CTOLib-失效</h4>
        <h6 class="text-muted">话题 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/ctolib/topics" target="_blank">https://pyrsshub.vercel.app/ctolib/topics</a></p>
        <p class="card-text">路由：<code>/ctolib/topics/:category</code></p>
        <p class="card-text">参数：category [默认为“默认排序”]</p>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    {% for th in ['最新发布', '优质主题'] %}
                    <th>{{th}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for td in ['last', 'popular']%}
                    <td>{{td}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">InfoQ</h4>
        <h6 class="text-muted">推荐内容 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/infoq/recommend" target="_blank">https://pyrsshub.vercel.app/infoq/recommend</a></p>
        <p class="card-text">路由：<code>/infoq/recommend</code></p>

        <h6 class="text-muted">主题内容 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/infoq/topic/159" target="_blank">https://pyrsshub.vercel.app/infoq/topic/159</a></p>
        <p class="card-text">路由：<code>/infoq/topic/:category</code></p>

        <h6 class="text-muted">作者内容<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/infoq/profile/8D1F7C1F2C23FD" target="_blank">https://pyrsshub.vercel.app/infoq/profile/8D1F7C1F2C23FD</a></p>
        <p class="card-text">路由：<code>/infoq/profile/:category</code></p>

        <h6 class="text-muted">搜索结果<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/infoq/search/金融/2" target="_blank">https://pyrsshub.vercel.app/infoq/search/金融/2</a></p>
        <p class="card-text">路由：<code>/infoq/search/:category/:type</code></p>
        <p class="card-text">参数：category [必填，关键词]，type [必填，类型，0 全部 | 1 微信公众号 | 2 infoQ网站 ]</p>
    </div>
</div>
<br>
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">巨潮资讯</h4>
        <h6 class="text-muted">公司公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/cninfo/announcement/all/gqjl" target="_blank">https://pyrsshub.vercel.app/cninfo/announcement/all/gqjl</a></p>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/cninfo/announcement/all/gqbd_预披露" target="_blank">https://pyrsshub.vercel.app/cninfo/announcement/all/gqbd_预披露</a>，股权变动类公告中标题含有「预披露」的公告</p>
        <p class="card-text">路由：<code>/cninfo/announcement/:stock_id/:category</code></p>
    </div>
</div>
<br>
<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">东兴资管</h4>
        <h6 class="text-muted">产品公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/dxzg/notice" target="_blank">https://pyrsshub.vercel.app/dxzg/notice</a></p>
        <p class="card-text">路由：<code>/dxzg/notice</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Earnings Date</h4>
        <h6 class="text-muted">Earnings Date <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/earningsdate/businesswire" target="_blank">https://pyrsshub.vercel.app/earningsdate/businesswire</a></p>
        <p class="card-text">路由：<code>/earningsdate/:category</code></p>
        <p class="card-text">参数：category [必填，可以为“businesswire、globenewswire、prnewswire”]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">界面快讯</h4>
        <h6 class="text-muted">界面快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/jiemian/newsflash/166" target="_blank">https://pyrsshub.vercel.app/jiemian/newsflash/166</a></p>
        <p class="card-text">路由：<code>/jiemian/newsflash/:category</code></p>
        <p class="card-text">参数：category [必填，见界面快讯栏目https://www.jiemian.com/lists/4.html]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">TADOKU.ORG</h4>
        <h6 class="text-muted">图书 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/tadoku/books/l0" target="_blank">https://pyrsshub.vercel.app/tadoku/books/l0</a></p>
        <p class="card-text">路由：<code>/tadoku/books/:category</code></p>
        <p class="card-text">参数：category [必填，难度等级，l0、l1、l2、l3、l4、l5、0。0为不指定 ]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">证监会审核进度</h4>
        <h6 class="text-muted">证监会审核进度 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/csrc/audit/a1d50077cd7f4b15bd1c8d6163f32850" target="_blank">https://pyrsshub.vercel.app/csrc/audit/a1d50077cd7f4b15bd1c8d6163f32850</a></p>
        <p class="card-text">路由：<code>/csrc/audit/:category</code></p>
        <p class="card-text">参数：category [必填，见证监会栏目 https://neris.csrc.gov.cn/alappl/home/gongshi]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">财新网滚动新闻</h4>
        <h6 class="text-muted">财新网滚动新闻 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/caixin/scroll/125" target="_blank">https://pyrsshub.vercel.app/caixin/scroll/125</a></p>
        <p class="card-text">路由：<code>/caixin/scroll/:category</code></p>
        <p class="card-text">参数：category [必填，见财新网滚动频道 http://www.caixin.com/search/scroll/0.jsp]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">网易跟贴</h4>
        <h6 class="text-muted">网易跟贴 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/netease/comment/heated" target="_blank">https://pyrsshub.vercel.app/netease/comment/heated</a></p>
        <p class="card-text">路由：<code>/netease/comment/:category</code></p>
        <p class="card-text">参数：category [必填， heated|build|splendid]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">爱思想搜索结果</h4>
        <h6 class="text-muted">爱思想搜索结果 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/aisixiang/search/author/郑永年" target="_blank">https://pyrsshub.vercel.app/aisixiang/search/author/郑永年</a></p>
        <p class="card-text">路由：<code>/aisixiang/search/:category/:keywords</code></p>
        <p class="card-text">参数：category [必填，author|title|keywords]， keywords 必填</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">东方财富网行业/个股研报</h4>
        <h6 class="text-muted">东方财富网行业/个股研报 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/eastmoney/report/stock/473" target="_blank">https://pyrsshub.vercel.app/eastmoney/report/stock/473</a></p>
        <p class="card-text">路由：<code>/eastmoney/report/:type/:category</code></p>
        <p class="card-text">参数：type, category [必填，见东方财富网研报频道 ]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">选股宝板块/主题动态</h4>
        <h6 class="text-muted">选股宝板块/主题动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/xuangubao/theme/17006066" target="_blank">https://pyrsshub.vercel.app/xuangubao/theme/17006066</a></p>
        <p class="card-text">路由：<code>/xuangubao/:type/:category</code></p>
        <p class="card-text">参数：type = theme|subject， category [必填，板块/主题ID]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">财联社主题动态</h4>
        <h6 class="text-muted">财联社主题动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/cls/subject/1345" target="_blank">https://pyrsshub.vercel.app/cls/subject/1345</a></p>
        <p class="card-text">路由：<code>/cls/subject/:category</code></p>
        <p class="card-text">参数：category [必填，见财联社APP主题栏目]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">财联社电报</h4>
        <h6 class="text-muted">财联社电报 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/cls/telegraph" target="_blank">https://pyrsshub.vercel.app/cls/telegraph</a></p>
        <p class="card-text">路由：<code>/cls/telegraph</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">链得得栏目动态</h4>
        <h6 class="text-muted">链得得栏目动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/chaindd/column/3158465" target="_blank">https://pyrsshub.vercel.app/chaindd/column/3158465</a></p>
        <p class="card-text">路由：<code>/chaindd/column/:category</code></p>
        <p class="card-text">参数：category [必填，见链得得栏目url中的数字编号]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">早报网 即时新闻文章列表</h4>
        <h6 class="text-muted">早报网 即时新闻文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/zaobao/realtime/china" target="_blank">https://pyrsshub.vercel.app/zaobao/realtime/china</a></p>
        <p class="card-text">路由：<code>/zaobao/realtime/:category</code></p>
        <p class="card-text">参数：category [必填，见 早报网 官网]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Techcrunch tag文章列表</h4>
        <h6 class="text-muted">Techcrunch tag文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/techcrunch/tag/216504" target="_blank">https://pyrsshub.vercel.app/techcrunch/tag/216504</a></p>
        <p class="card-text">路由：<code>/techcrunch/tag/:category</code></p>
        <p class="card-text">参数：category [必填，见 techcrunch 官网]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">未央网-首页</h4>
        <h6 class="text-muted">未央网-首页 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/weiyangx/home/" target="_blank">https://pyrsshub.vercel.app/weiyangx/home/</a></p>
        <p class="card-text">路由：<code>/weiyangx/home/</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">未央网-国际快讯</h4>
        <h6 class="text-muted">未央网-国际快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/weiyangx/express/" target="_blank">https://pyrsshub.vercel.app/weiyangx/express/</a></p>
        <p class="card-text">路由：<code>/weiyangx/express/</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">扬帆出海-快讯</h4>
        <h6 class="text-muted">扬帆出海-快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/yfchuhai/express/" target="_blank">https://pyrsshub.vercel.app/yfchuhai/express/</a></p>
        <p class="card-text">路由：<code>/yfchuhai/express/</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">未央网 tag文章列表</h4>
        <h6 class="text-muted">未央网 tag文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/weiyangx/tag/金融科技" target="_blank">https://pyrsshub.vercel.app/weiyangx/tag/金融科技</a></p>
        <p class="card-text">路由：<code>/weiyangx/tag/:category</code></p>
        <p class="card-text">参数：category [必填，见 weiyangx 官网]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">今天看啥专栏文章列表</h4>
        <h6 class="text-muted">今天看啥专栏文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/jintiankansha/column/KgkNwnDrsy" target="_blank">https://pyrsshub.vercel.app/jintiankansha/column/KgkNwnDrsy</a></p>
        <p class="card-text">路由：<code>/jintiankansha/column/:category</code></p>
        <p class="card-text">参数：category [必填，见 jintiankansha.me] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">产品公告 - 机构间市场</h4>
        <h6 class="text-muted">产品公告 - 机构间市场 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/interotc/cpgg/东兴证券" target="_blank">https://pyrsshub.vercel.app/interotc/cpgg/东兴证券</a></p>
        <p class="card-text">路由：<code>/interotc/cpgg/:category</code></p>
        <p class="card-text">参数：category [必填，标题中的关键词] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">股票评级 - Benzinga</h4>
        <h6 class="text-muted">股票评级 - Benzinga <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/benzinga/ratings/wb" target="_blank">https://pyrsshub.vercel.app/benzinga/ratings/wb</a></p>
        <p class="card-text">路由：<code>/benzinga/ratings/:category</code></p>
        <p class="card-text">参数：category [必填， 股票代码] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">抽屉新热榜 - 用户</h4>
        <h6 class="text-muted">抽屉新热榜 - 用户 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/chouti/user/wb_5517143496" target="_blank">https://pyrsshub.vercel.app/chouti/user/wb_5517143496</a></p>
        <p class="card-text">路由：<code>/chouti/user/:category</code></p>
        <p class="card-text">参数：category [必填， 用户id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">抽屉新热榜 - 话题</h4>
        <h6 class="text-muted">抽屉新热榜 - 话题 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/chouti/section/1116" target="_blank">https://pyrsshub.vercel.app/chouti/section/1116</a></p>
        <p class="card-text">路由：<code>/chouti/section/:category</code></p>
        <p class="card-text">参数：category [必填， 话题id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">抽屉新热榜 - 搜索</h4>
        <h6 class="text-muted">抽屉新热榜 - 搜索 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/chouti/search/China" target="_blank">https://pyrsshub.vercel.app/chouti/search/China</a></p>
        <p class="card-text">路由：<code>/chouti/search/:category</code></p>
        <p class="card-text">参数：category [必填， 搜索关键词] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">微信公众号 - 标签文章列表</h4>
        <h6 class="text-muted">微信公众号 - 标签文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/mp/tag/MzI5MjM3OTA0MA/1500461858015772673" target="_blank">https://pyrsshub.vercel.app/mp/tag/MzI5MjM3OTA0MA/1500461858015772673</a></p>
        <p class="card-text">路由：<code>/mp/tag/:biz/:tag</code></p>
        <p class="card-text">biz [必填， 公众号id]，tag，[必填， 标签 id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">微信公众号 - 推荐标签文章列表</h4>
        <h6 class="text-muted">微信公众号 - 推荐标签文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/mp/rtag/科技/ChatGPT" target="_blank">https://pyrsshub.vercel.app/mp/rtag/科技/ChatGPT</a></p>
        <p class="card-text">路由：<code>/mp/rtag/:c1/:tag</code></p>
        <p class="card-text">c1 [必填， 分类]，tag，[必填， 标签 id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Producthunt - 搜索结果</h4>
        <h6 class="text-muted">Producthunt - 搜索结果 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/producthunt/search/wechat/30" target="_blank">https://pyrsshub.vercel.app/producthunt/search/wechat/30</a></p>
        <p class="card-text">路由：<code>/producthunt/search/:keyword/:period</code></p>
        <p class="card-text">keyword [必填， 搜索关键词]，period，[必填， 时间范围] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">蒲公英 - App 更新日志</h4>
        <h6 class="text-muted">蒲公英 - App 更新日志<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/pgyer/22bY" target="_blank">https://pyrsshub.vercel.app/pgyer/22bY</a></p>
        <p class="card-text">路由：<code>/pgyer/:pageid</code></p>
        <p class="card-text">pageid [必填， 页面 id]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">新京报 - 频道</h4>
        <h6 class="text-muted">新京报 - 频道<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/bjnews/beijing" target="_blank">https://pyrsshub.vercel.app/bjnews/beijing</a></p>
        <p class="card-text">路由：<code>/bjnews/:channelid</code></p>
        <p class="card-text">channelid [必填， 频道 id]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">新华网</h4>
        <h6 class="text-muted">新华网 - 最新播报<a href="https://github.com/flyingicedragon" target="_blank" class="badge badge-secondary">by flyingicedragon</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/xinhuanet/zuixinbobao" target="_blank">https://pyrsshub.vercel.app/xinhuanet/zuixinbobao</a></p>
        <p class="card-text">路由：<code>/xinhuanet/zuixinbobao</code></p>
        <h6 class="text-muted">新华网 - 时政联播<a href="https://github.com/flyingicedragon" target="_blank" class="badge badge-secondary">by flyingicedragon</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/xinhuanet/shizhenglianbo" target="_blank">https://pyrsshub.vercel.app/xinhuanet/shizhenglianbo</a></p>
        <p class="card-text">路由：<code>/xinhuanet/shizhenglianbo</code></p>
        <h6 class="text-muted">新华网 - 要点聚焦<a href="https://github.com/flyingicedragon" target="_blank" class="badge badge-secondary">by flyingicedragon</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/xinhuanet/yaodianjujiao" target="_blank">https://pyrsshub.vercel.app/xinhuanet/yaodianjujiao</a></p>
        <p class="card-text">路由：<code>/xinhuanet/yaodianjujiao</code></p>
        <h6 class="text-muted">新华网 - 时政联播<a href="https://github.com/flyingicedragon" target="_blank" class="badge badge-secondary">by flyingicedragon</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/xinhuanet/world" target="_blank">https://pyrsshub.vercel.app/xinhuanet/world</a></p>
        <p class="card-text">路由：<code>/xinhuanet/world</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">微信公众号 - 最新文章 - 搜狗方案</h4>
        <h6 class="text-muted">微信公众号 - 最新文章 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/mp/gh/mao-talk" target="_blank">https://pyrsshub.vercel.app/mp/gh/mao-talk</a></p>
        <p class="card-text">路由：<code>/mp/tag/:biz/:tag</code></p>
        <p class="card-text">gh [必填， 公众号id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">微信公众号 - 最新文章 - 游无穷</h4>
        <h6 class="text-muted">微信公众号 - 最新文章 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">举例：<a href="https://pyrsshub.vercel.app/mp/youwuqiong/maoyouhuashuo" target="_blank">https://pyrsshub.vercel.app/mp/youwuqiong/maoyouhuashuo</a></p>
        <p class="card-text">路由：<code>/mp/youwuqiong/:author</code></p>
        <p class="card-text">author [必填， 作者id，在 youwuqiong.com 文章列表页上找] </p>
    </div>
</div>
<br>
<!--item info end-->


{% endblock content %}